body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#countries-list {
  display: flex;
  justify-content: space-center;
  flex-wrap: wrap;
  position: relative;
  gap: 20px;
}

li {
  list-style: none;
}


.imgCountry {
  margin: 5px ;
  padding: 5px;
  background-color: white;
  border: 1px solid  lightgrey;
  border-radius: 5px;
  box-shadow: ;
}

.imgCountryOut {

}